.imgcover {
  width: 100%;
  height: 100vh;
  background-image: url('../imgs/girl1.jpg');
  background-size: cover;
  background-position: center;
}

.paralex {
  background-image: url('../imgs/oranges.jpg');
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}