.imgcover {
  width: 100%;
  height: 90vh;
  background-image: url('../imgs/girl1.jpg');
  background-size: cover;
  background-position: center;
}

.paralex {
  background-image: url('../imgs/oranges.jpg');
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  margin-top: 100px;
}

.home-title {
  text-align: center;
  font-size: 30px;
  color: #DBEA4B;
  margin-top: 70px;
  margin-bottom: 30px;
}

.loop-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  text-align: center;
  line-height: 90vh;
  display: flex;
}

.loop-text {
  width: 100%;
  font-size: 70px;
  color: #DBEA4B;
  white-space: nowrap;
  animation: scrollText 10s linear infinite 
}

.loop-text span:hover {
  -webkit-text-stroke: 2px #DBEA4B;
  color: transparent;
}

@keyframes scrollText{
  from   { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}